/* Resets */
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

/* Themes */

.light-mode{
  --priscillas-background: #FFF7DA; /*f1f1ce*/
  --scoops-background: #FFCBE0; /*f1ecec*/
  --text-color: black;
}

.dark-mode{
  --priscillas-background: #5B7086;
  --scoops-background: black;
  --text-color: white;
}

/* Styles */
#priscillas{
  background-color: var(--priscillas-background);
}

#scoops{
  background-color: var(--scoops-background);
}

.container{
  height: 100vh;
  color: var(--text-color);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priscillas-present-logo{
  width: 100%;
}

.heres-the-scoop-logo{
  width: 132px;
  height: 77px;
}