@font-face {
  font-family: 'ShortStack';
  src: url("./fonts/ShortStack-Regular.ttf")
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-VariableFont_wght.ttf")
}

@font-face {
  font-family: 'Pacifico';
  src: url("./fonts/Pacifico-Regular.ttf")
}





/* Themes */

.light-mode{
  --priscillas-header-bg: #ffefb6;
  --priscillas-body-bg: #fff7da3e;
  --scoops-header-bg: #ffb1d0;
  --scoops-body-bg: #ffe3ee;
  --text-color: black;
}

.dark-mode{
  --priscillas-header-bg: #415060;
  --priscillas-body-bg: #303841;
  --scoops-header-bg: #70354b;
  --scoops-body-bg: #411324;
  --text-color: white;
}






/* Basic Styles  */

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}






/* Styles with classes and ids */

#priscillas, #scoops{
  min-height: 100vh;
  color: var(--text-color);
  font-family: "ShortStack";
  display: flex;
  flex-direction: column;
}

#priscillas{
  background-color: var(--priscillas-body-bg);
}

#scoops{
  background-color: var(--scoops-body-bg);
}

.content{
  flex: 1;
}

#priscillas header{
  background-color: var(--priscillas-header-bg);
}

#scoops header{
  background-color: var(--scoops-header-bg);
}

#priscillas-logo, #scoops-logo{
  fill: var(--text-color);
}

.light-mode #priscillas #priscillas-logo{
  filter: drop-shadow(0px 0px 1px black);
}

.light-mode #scoops #scoops-logo{
  filter: drop-shadow(2px 2px 6px black);
}

.dark-mode #priscillas #priscillas-logo{
  filter: drop-shadow(0px 0px 1px white);
}

.dark-mode #scoops #scoops-logo{
  filter: drop-shadow(2px 2px 6px white);
}

#priscillas-logo{
  width: 230px;
  height: 81px;
}

#scoops-logo{
  width: 132px;
  height: 77px;
}

#dark-mode-wrapper{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dark-mode-toggle{
  margin: 0rem 0.5rem !important;
}