/* Resets */
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

/* Themes */

.light-mode{
  --priscillas-header-bg: #ffefb6;
  --priscillas-body-bg: #fff7da3e;
  --scoops-header-bg: #ffb1d0;
  --scoops-body-bg: #ffe3ee;
  --text-color: black;
}

.dark-mode{
  --priscillas-header-bg: #415060;
  --priscillas-body-bg: #303841;
  --scoops-header-bg: #70354b;
  --scoops-body-bg: #411324;
  --text-color: white;
}

/* Styles */
#priscillas, #scoops{
  min-height: 100vh;
  color: var(--text-color);
  fill: var(--text-color);
}

#priscillas{
  background-color: var(--priscillas-body-bg);
}

#scoops{
  background-color: var(--scoops-body-bg);
}

#priscillas header{
  background-color: var(--priscillas-header-bg);
}

#scoops header{
  background-color: var(--scoops-header-bg);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#priscillas-logo{
  width: 230px;
  height: 81px;
}

#scoops-logo{
  width: 132px;
  height: 77px;
}

#dark-mode-wrapper{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dark-mode-toggle{
  margin: 0rem 0.5rem !important;
}